<html lang="da">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>

    <div id="content">
      <h1 style="font-size: 2rem; margin-bottom: 1rem">Hej!</h1>
      <p style="margin-bottom:1rem;">Kære <%= user.profile.firstName%></p>
      <p>Velkommen til Tradify! Vi er glade for at have dig med ombord.</p>
      <p>
        Som ny bruger har du adgang til vores platform, hvor du nemt kan
        foretage handler med andre brugere, uden den klassiske frygt for at
        blive snydt.
      </p>
      <p>
        For at komme ordentligt igang skal du blot bekræfte din konto ved hjælp
        af nedenstående link. Derefter er din konto bekræftet, og du kan dermed
        komme igang med at handle!
      </p>

      <a
        style="margin-top: 1rem; margin-bottom: 1rem; display:block;"
        href="<%= process.env.URL_BASE_BACKEND %>/auth/callback/<%= data.token %>"
        target="_blank"
        >Bekræft min konto</a
      >

      <p style="margin-bottom:2rem;">Tak fordi du valgte Tradify, vi ser frem til at handle med dig!</p>

      <p style="margin-bottom:1rem;">Med venlige hilsner</p>
      <p><i>Tradify Teamet</i></p>
    </div>

    <%- include("../partials/footer.ejs") %>
  </body>
</html>
